In [28]:
import pandas

In [3]:
df_train = pandas.read_csv("dataset/walmart-recruiting-store-sales-forecasting/train.csv")
df_test = pandas.read_csv("dataset/walmart-recruiting-store-sales-forecasting/test.csv")
df_features = pandas.read_csv("dataset/walmart-recruiting-store-sales-forecasting/features.csv")
df_stores = pandas.read_csv("dataset/walmart-recruiting-store-sales-forecasting/stores.csv")

In [8]:
# Take 3 stores
df_train_3stores = df_train.loc[df_train["Store"].isin([1, 2, 3])]
df_test_3stores = df_test.loc[df_test["Store"].isin([1, 2, 3])]

print(len(df_train), len(df_train_3stores))
print(len(df_test), len(df_test_3stores))

(421570, 29518)
(115064, 8053)

In [9]:
# Take 5 departments in each
df_train_3stores_5deps = df_train_3stores.loc[df_train_3stores["Dept"].isin([1, 2, 3, 4, 5])]
df_test_3stores_5deps = df_test_3stores.loc[df_test_3stores["Dept"].isin([1, 2, 3, 4, 5])]

print(len(df_train_3stores), len(df_train_3stores_5deps))
print(len(df_test_3stores), len(df_test_3stores_5deps))

(29518, 2145)
(8053, 585)

In [20]:
# Merge stores dataframe
df_train_3stores_5deps_stores = pandas.merge(df_train_3stores_5deps, df_stores.head(), on="Store")
# df_train_3stores_5deps_stores.head()
df_test_3stores_5deps_stores = pandas.merge(df_test_3stores_5deps, df_stores.head(), on="Store")
df_train_3stores_5deps_stores.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday Type    Size
0      1     1  2010-02-05      24924.50      False    A  151315
1      1     1  2010-02-12      46039.49       True    A  151315
2      1     1  2010-02-19      41595.55      False    A  151315
3      1     1  2010-02-26      19403.54      False    A  151315
4      1     1  2010-03-05      21827.90      False    A  151315

In [21]:
# Verify length
len(df_train_3stores_5deps_stores), len(df_test_3stores_5deps_stores)

(2145, 585)

In [22]:
df_features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [25]:
# Merge features dataframe
df_train_3stores_5deps_stores_features = pandas.merge(df_train_3stores_5deps_stores, df_features, on=["Store", "Date"])
df_test_3stores_5deps_stores_features = pandas.merge(df_test_3stores_5deps_stores, df_features, on=["Store", "Date"])
df_train_3stores_5deps_stores_features.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2,2010-02-05,50605.27,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
2,1,3,2010-02-05,13740.12,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
3,1,4,2010-02-05,39954.04,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
4,1,5,2010-02-05,32229.38,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False

In [26]:
# Verify length
len(df_train_3stores_5deps_stores_features), len(df_test_3stores_5deps_stores_features)

(2145, 585)

In [27]:
df_train_3stores_5deps_stores_features.to_csv("dataset/walmart-part-data/train.csv", index=False)
df_test_3stores_5deps_stores_features.to_csv("dataset/walmart-part-data/test.csv", index=False)